NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

MONEROO_SECRET_KEY=
MONEROO_WEBHOOK_SECRET=
MONEROO_BASE_URL=https://api.moneroo.io
MONEROO_PAYMENT_CURRENCY=XOF
MONEROO_PRICE_PER_GLASS=1200
MONEROO_PAYMENT_METHODS=
